.App {
  text-align: center;
  background-image: url('../public/sunny_sky.jpg');
  background-size: auto;
}


/* .search-box{
} */

.search-bar{
  height: 3rem;
  width: 20rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 1.5rem;
}

.location{
  font-size: 3rem;
  margin-bottom: 1rem;
}

.date{
  font-size: 2rem;
  margin-bottom: 2rem;

}

.temp{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;

}

.weather{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}